<div
  style="
    display: flex;
    background-color: #e5f0f0;
    width: 100%;
    height: 50%;
    gap: 20%;
  "
>
  <div style="width: 10%;">
    <img
      src="./assets/logos/skivryPHomePage.jpg"
      alt=""
      width="100%"
      height="100%"
    />
  </div>
  <div style="display: flex; justify-content: left; gap: 30%; margin: 2%">
    <div class="headerButtons">მთავარი</div>
    <div class="headerButtons">პროდუქტი</div>
    <div class="headerButtons">ჩვენს შესახებ</div>
    <div class="headerButtons">კონტაქტი</div>
  </div>
  <button
    (click)="onLoginClick()"
    style="width: 5%; height: 10%; margin-left: 15%; margin-top: 1%"
  >
    Login
  </button>
</div>
